$bottom-border-width: 3px;
$background-color: #989898;
$border-color:  #666;

.sitebreaker-scoreboard {
  $img-height: 40px;
  $div-height: 30px;
  $font-size: 20px;
  $border-radius: 6px;
  $border-width: 0 0 $bottom-border-width 0;
  $padding: 4px 5px 0 $img-height;
  position: absolute !important;
  top: 15px !important;
  left: 15px !important;

  img {
    width: $img-height !important;
    height: $img-height !important;
    position: absolute !important;
    top: ($div-height - $img-height)/2 - ($bottom-border-width/2) !important;
    left: -9px !important;
  }

  div {
    border-radius: $border-radius !important;
    position: relative !important;
    height: $div-height !important;
    padding: $padding !important;
    margin-bottom: $img-height/2 !important;
    box-sizing: border-box !important;
    font-size: $font-size !important;
    line-height: $font-size !important;
    background-color: rgba($background-color, .8) !important;
    border-width: $border-width !important;
    border-style: solid !important;
    border-color: $border-color !important;
    text-align: right !important;
    color: rgb(240,240,240) !important;
    box-shadow: 0 0 0 1px rgba(30,30,30,.8) !important;

    i {
      color: #ddd !important;
      margin-right: 3px !important;
      font-style: normal !important;
    }

    span {
      color: rgb(240,240,240) !important;
      transition: color .2s ease-out !important;

      &.sitebreaker-score, &.sitebreaker-blocks {
        &.sitebreaker-updating {
          color: rgb(0,256,0) !important;
        }
      }

      &.sitebreaker-balls {
        &.sitebreaker-updating {
          color: rgb(256,0,0) !important;
        }
      }
    }
  }
}

.sitebreaker-dialog {
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  text-align: center !important;

  & > div {
    padding: 30px !important;
    border-radius: 5px !important;
    background-color: $background-color !important;
    border-bottom: $bottom-border-width solid $border-color !important;
    box-shadow: 0 0 0 1px rgba(30,30,30,.8) !important;
  }

  &:empty {
    display: none !important;
  }
}