@import 'normalize';
@import url(https://fonts.googleapis.com/css?family=Raleway);
@import 'block';
@import 'ui';

.sitebreaker-stage {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 9999;
}

/* .sitebreaker-canvas {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
} */

.sitebreaker-hidden {
  visibility: hidden;
}