doctype
html.no-js
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Sitebreaker
    meta(name='description', content='Play the classic game of Breakout using your favorite websites as levels')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href="stylesheets/main.css")
  body
    <!--[if lt IE 10]>
    p.browsehappy You are using an #[strong outdated] browser. Please #[a(href="http://browsehappy.com/") upgrade your browser] to improve your experience.
    <![endif]-->

    .wrapper
      .hero
        h1
          img(src="images/sitebreaker-logo.svg", alt="Sitebreaker")
        h2 Play the classic game of Breakout using your favorite websites as levels
      .play
        button#sitebreaker-start(title="Play Sitebreaker!")
          img(src="images/play.svg", alt="Play Sitebreaker!")
        p (or drag the button to your bookmark bar to play on other sites)
    #grid.grid
    script(src="scripts/main.js")
  //- Google Analytics: change UA-XXXXX-X to be your site's ID.
  //-
    script
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
